In [1]:
import os
import numpy as np
import pandas as pd

In [60]:
movies = pd.read_csv("data\\movies.csv")
ratings = pd.read_csv("data\\ratings.csv")

In [61]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [62]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [63]:
merged = pd.merge(movies, ratings, on = "movieId")

In [76]:
np_ratings = np.array(merged.groupby("title")["rating"].mean())

In [82]:
titles = merged.groupby("title")["rating"].mean().reset_index()["title"]

In [77]:
np_rating_count = np.array(merged.groupby("title")["rating"].count())

In [84]:
ratings_df = pd.DataFrame([titles, np_ratings, np_rating_count])

In [85]:
ratings_df = ratings_df.transpose()

In [87]:
ratings_df.columns = ["Title", "Avg_rating", "Rating_Count"]

In [147]:
max_ratings = ratings_df["Rating_Count"].max()
def penalize(rating_count):
    if (max_rating - rating_count) == 0:
        return 0
    else:        
        penalty_factor = np.log((max_rating - rating_count))/max_ratings
        return penalty_factor * 10
ratings_df["adjusted_ratings"] = (1 - ratings_df["Rating_Count"].apply(penalize)) * ratings_df["Avg_rating"]

In [148]:
ratings_df.sort_values(by = "adjusted_ratings")

,Title,Avg_rating,Rating_Count,adjusted_ratings
8398,Tyler Perry's Madea Goes to Jail (2009),0.5,1,0.414532
6875,Santa with Muscles (1996),0.5,1,0.414532
5035,Manos: The Hands of Fate (1966),0.5,1,0.414532
6485,"Rape of Europa, The (2006)",0.5,1,0.414532
3182,"Giant Mechanical Man, The (2012)",0.5,1,0.414532
...,...,...,...,...
3117,Gentlemen of Fortune (Dzhentlmeny udachi) (1972),5,2,4.14575
8475,"Unvanquished, The (Aparajito) (1957)",5,2,4.14575
8,'night Mother (1986),5,3,4.14618
6537,"Red Firecracker, Green Firecracker (Pao Da Shu...",5,3,4.14618
2658,"Face in the Crowd, A (1957)",5,4,4.14662

In [100]:
df

   Numbers
0        1
1        2
2        3

In [153]:
def cosine_sim(vec_a, vec_b):
    return (np.sum(vec_a * vec_b)/((np.sum(vec_a ** 2) ** 0.5) * (np.sum(vec_b ** 2) ** 0.5)))

cosine_sim (np.array([3,45,7,2]), np.array([2,54,13,15]))

0.9722842517123499