In [5]:
import numpy as np
import pandas as pd

In [25]:
def func1(param):
    """Useless function"""
    print(param)

In [26]:
func1("Abhijit")
print(func1.__doc__)

Abhijit
Useless function

In [15]:
squarefunc = lambda x:x**2

list(map(squarefunc,np.array([1,2,3])))

[1, 4, 9]

In [19]:
df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]})

In [20]:
df.apply(squarefunc)

   a   b
0  1  16
1  4  25
2  9  36

In [22]:
df.dropna()

   a  b
0  1  4
1  2  5
2  3  6

In [23]:
df['a'].fillna(df['a'].mean())

0    1
1    2
2    3
Name: a, dtype: int64