## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

**Load the Automobile dataset into variable "auto"**

In [4]:
auto = pd.read_csv("C:\\Users\\abhijit.a.pande\\Machine Learning\\datasets\\Automobiles.csv")

**Check the head of the DataFrame.**

In [5]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [6]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
symboling              201 non-null int64
normalized_losses      201 non-null int64
make                   201 non-null object
fuel_type              201 non-null object
aspiration             201 non-null object
number_of_doors        201 non-null object
body_style             201 non-null object
drive_wheels           201 non-null object
engine_location        201 non-null object
wheel_base             201 non-null float64
length                 201 non-null float64
width                  201 non-null float64
height                 201 non-null float64
curb_weight            201 non-null int64
engine_type            201 non-null object
number_of_cylinders    201 non-null object
engine_size            201 non-null int64
fuel_system            201 non-null object
bore                   201 non-null float64
stroke                 201 non-null float64
compression_ratio      201 non-null float64
horsepower             201 non-null int64
peak_rpm               201 non-null int64
city_mpg               201 non-null int64
highway_mpg            201 non-null int64
price                  201 non-null int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB

**What is the average Price of all cars in the dataset?**

In [8]:
auto['price'].mean()

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [37]:
auto[auto['price'] == auto['price'].max()]['make']

71    mercedes-benz
Name: make, dtype: object

In [38]:
auto[auto['price'] == auto['price'].min()]['make']

134    subaru
Name: make, dtype: object

**How many cars have horsepower greater than 100?**

In [40]:
auto [auto['horsepower']>100].count()['make']

90

**How many hatchback cars are in the dataset ?**

In [45]:
auto[auto['body_style'] == 'hatchback'].count()['make']

68

**What are the 3 most commonly found cars in the dataset?**

In [57]:
print (auto['make'].value_counts().head(3))
grouped = auto.groupby('make', sort = True)
grouped['make'].count().sort_values(ascending = False).head(3)

toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

make
toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [61]:
auto[auto['price'] == 7099]['make']

87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [60]:
auto[auto['price'] > 40000]['make']

15              bmw
70    mercedes-benz
71    mercedes-benz
Name: make, dtype: object

**Which are the cars that are both a sedan and priced less than 7000?**

In [71]:
auto[(auto['price'] < 7000) & (auto['body_style'] == 'sedan')][['make','price']]

           make  price
19    chevrolet   6575
24        dodge   6692
42        isuzu   6785
50        mazda   6695
82   mitsubishi   6989
86       nissan   5499
88       nissan   6649
89       nissan   6849
118    plymouth   6692
152      toyota   6938

### The END