# Pandas Lab Exercise - Solutions


## Part - 1
We shall now test your skills in using Pandas package. We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

Answer each question asked below wrt the games dataset.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read games.csv as a dataframe called games.**

In [3]:
games = pd.read_csv("C:\\Users\\abhijit.a.pande\\Machine Learning\\datasets\\games.csv")

** Check the head of the DataFrame. **

In [4]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
id                      81312 non-null int64
type                    81312 non-null object
name                    81271 non-null object
yearpublished           81309 non-null float64
minplayers              81309 non-null float64
maxplayers              81309 non-null float64
playingtime             81309 non-null float64
minplaytime             81309 non-null float64
maxplaytime             81309 non-null float64
minage                  81309 non-null float64
users_rated             81312 non-null int64
average_rating          81312 non-null float64
bayes_average_rating    81312 non-null float64
total_owners            81312 non-null int64
total_traders           81312 non-null int64
total_wanters           81312 non-null int64
total_wishers           81312 non-null int64
total_comments          81312 non-null int64
total_weights           81312 non-null int64
average_weight          81312 non-null float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

** Use .info() method to find out total number of entries in dataset**

In [6]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
id                      81312 non-null int64
type                    81312 non-null object
name                    81271 non-null object
yearpublished           81309 non-null float64
minplayers              81309 non-null float64
maxplayers              81309 non-null float64
playingtime             81309 non-null float64
minplaytime             81309 non-null float64
maxplaytime             81309 non-null float64
minage                  81309 non-null float64
users_rated             81312 non-null int64
average_rating          81312 non-null float64
bayes_average_rating    81312 non-null float64
total_owners            81312 non-null int64
total_traders           81312 non-null int64
total_wanters           81312 non-null int64
total_wishers           81312 non-null int64
total_comments          81312 non-null int64
total_weights           81312 non-null int64
average_weight          81312 non-null float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

**What is the mean playin time for all games put together ?**

In [29]:
print(games['playingtime'].sum())
print(games['playingtime'].mean())

4198373.0
51.63478827682052

** What is the highest number of comments received for a game? **

In [16]:
games['total_comments'].max()

11798

** What is the name of the game with id 1500?  **

In [17]:
games[games['id'] == 15000]['name']

7959    Word Basket
Name: name, dtype: object

** And which year was it published? **

In [20]:
games[games['id'] == 15000][['name', 'yearpublished']]

             name  yearpublished
7959  Word Basket         2002.0

** Which game has received highest number of comments? **

In [24]:
games[games['total_comments'] == games['total_comments'].max()][['name', 'yearpublished']]

       name  yearpublished
165   Catan         1995.0
1965  Catan         1995.0

** Which games have received least number of comments? **

In [25]:
games[games['total_comments'] == games['total_comments'].min()][['name', 'yearpublished']]

                                                    name  yearpublished
13048                                         Looney Leo            0.0
13054                                               Dump            0.0
13068                                      Field of Fire         2002.0
13095                                           Matheeno         2000.0
13103  Auction America: The Trivia Game for Any Colle...         2000.0
...                                                  ...            ...
81307                               Micro Rome: Aegyptus         2015.0
81308  Trivial Pursuit: Marvel Cinematic Universe  Da...         2013.0
81309                                          BEARanoia         2015.0
81310                                            Freight         2015.0
81311                                  Bingo Animal Kids         2010.0

[29001 rows x 2 columns]

** What was the average minage of all games per game "type"? (boardgame & boardgameexpansion)**

In [36]:
games.groupby('type').mean()['minage']

type
boardgame             6.724798
boardgameexpansion    8.733321
Name: minage, dtype: float64

** How many unique games are there in the dataset? **

In [34]:
games['name'].nunique()

76035

** How many boardgames and boardgameexpansions are there in the dataset?  **

In [41]:
games.groupby('type').count()['id']

type
boardgame             70820
boardgameexpansion    10492
Name: id, dtype: int64

** Is there a correlation between playing time and total comments for the games? - Use the .corr() function **

In [37]:
games[['playingtime', 'total_comments']].corr()

                playingtime  total_comments
playingtime        1.000000        0.020645
total_comments     0.020645        1.000000

## Part 2
## Inferential Statistical Analysis

A Brand new Gaming Design Company has entered the Market in year 2015. They are interested in Analyzing the Amount of Time Gamers spend for each Game Type and check if the players spend equal Time on both Types.

Analyze the same using a suitable Two Sample Test at 95% Confidence.

The following points are necessarily to be adhered.

  - Clean Data
  - Transform Data(as required)
  - Visualize Data(Draw as many patterns, not limited to Histograms & Boxplots only) - Minimum Requirement of 5 different Visualizations apart from Histograms & Boxplots to be created.
  - Model the Data with the correct hypothesis statement
  - Conclude on your results based on the outcome of experiment
  - Calculate power of test and interpret the same

### The END