In [1]:
import tensorflow as tf

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional, Input, Flatten, GlobalMaxPool1D, SpatialDropout1D

from keras.preprocessing import sequence
from keras.callbacks import EarlyStopping

from gensim.test.utils import datapath, get_tmpfile
from gensim.models import KeyedVectors # Gensim contains word2vec models and processing tools
from gensim.scripts.glove2word2vec import glove2word2vec

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import binarize

from nltk import word_tokenize

import re
import os
import nltk


import random
random.seed(0)
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
tf.__version__

#!{sys.executable} -m pip install pypdf2
#!{sys.executable} -m pip install python-docx
#!{sys.executable} -m pip install python-docx2txt

Using TensorFlow backend.

'2.0.0'

In [2]:
#!{sys.executable} -m pip install docx2txt
#!{sys.executable} -m pip install textract
#!{sys.executable} -m pip install antiword

In [3]:
import docx
import docx2txt

In [4]:
import win32com.client
word = win32com.client.Dispatch("Word.Application")
word.visible = False

In [5]:
import PyPDF2

In [6]:
import textract

In [7]:
filepath = 'C:\\Resumes'
entries = os.listdir(filepath)

In [8]:
cvs = pd.DataFrame(entries, columns = ["name"])

In [9]:
cvs

                                                 name
0   Abhishek Gandhi_Technical Business Analyst_CA.doc
1             Abishek Gopal_React JS Developer_WI.doc
2                Adam Altieri_Business Analyst_AZ.doc
3                               Ahmad Qasem - PM.docx
4                  Ahmad Qasem_Project Manager_IL.doc
5       Alexander Abalakov_Azure Architect_CANADA.doc
6                                      Amit Misra.doc
7       Andrew Dolopo_Virtualization Engineer _CA.doc
8            Apurva Keshoju_React JS Developer_MD.doc
9                          Arti K -Sr. Recruiter.docx
10  Arulnathan Savarimuthu_Infrastructure Architec...
11                     avinashkumarsingh_profile.docx
12                 Beverly Arukwe_Scrum Master_CA.doc
13  Charanjit Singh Channi_Oracle Financial Functi...
14        Chiranjeevi Gajjeli_Azure Arcchitect_GA.doc
15                       Dave Svab - CSEO profile.pdf
16    Dean L. Carrera_Infrastructure Architect_GA.doc
17  Deepak Jasapara_Oracle Financial Functional_CA...
18                                 FARAZ KHAN CV.docx
19      Gary Rogensues_Infrastructure Engineer_MI.doc
20                           Gopala-Updated.docx.docx
21        Gowtham Nandipati_SAP SOB Consultant_TX.doc
22                Gurwinder Singh_Scrum Master_CA.doc
23                Hari Pyapali_Azure Architect_WA.doc
24                  Jaimin Patel_QA Automation_NV.doc
25                  Jandeep Janardhanan_SAP ABAP.docx
26                       Jayagowrisankar_profile.docx
27                Jeff Foster_Technical Writer_CA.doc
28                 Kachong Duniya_Scrum Master_CA.doc
29  Kalyan Chakravarthy Manda_SAP FICO Analyst_MO.doc

In [10]:
def readtxt(filename):
    #return textract.process(filename)
    print (filename)
    wb = word.Documents.Open(filename)
    doc = word.ActiveDocument
    fullText = []
    
    for para in doc.paragraphs:
        fullText.append(str(para).replace("\r","\n"))
    word.Documents.Close()
    return "".join(fullText)

In [11]:
#readtxt("C:\Abhishek_Gandhi_Technical_Business_Analyst_CA.doc")
#"C:\\2018.txt"
#readtxt()

In [12]:
def updateFileText(filename):
    return readtxt(filepath + "\\" + filename)

In [13]:
cvs_range = len(cvs)
cvs["text"] = cvs["name"].apply(updateFileText)

C:\Resumes\Abhishek Gandhi_Technical Business Analyst_CA.doc
C:\Resumes\Abishek Gopal_React JS Developer_WI.doc
C:\Resumes\Adam Altieri_Business Analyst_AZ.doc
C:\Resumes\Ahmad Qasem - PM.docx
C:\Resumes\Ahmad Qasem_Project Manager_IL.doc
C:\Resumes\Alexander Abalakov_Azure Architect_CANADA.doc
C:\Resumes\Amit Misra.doc
C:\Resumes\Andrew Dolopo_Virtualization Engineer _CA.doc
C:\Resumes\Apurva Keshoju_React JS Developer_MD.doc
C:\Resumes\Arti K -Sr. Recruiter.docx
C:\Resumes\Arulnathan Savarimuthu_Infrastructure Architect_OH.doc
C:\Resumes\avinashkumarsingh_profile.docx
C:\Resumes\Beverly Arukwe_Scrum Master_CA.doc
C:\Resumes\Charanjit Singh Channi_Oracle Financial Functinal_TX.doc
C:\Resumes\Chiranjeevi Gajjeli_Azure Arcchitect_GA.doc
C:\Resumes\Dave Svab - CSEO profile.pdf
C:\Resumes\Dean L. Carrera_Infrastructure Architect_GA.doc
C:\Resumes\Deepak Jasapara_Oracle Financial Functional_CA.doc
C:\Resumes\FARAZ KHAN CV.docx
C:\Resumes\Gary Rogensues_Infrastructure Engineer_MI.doc
C:\Resumes\Gopala-Updated.docx.docx
C:\Resumes\Gowtham Nandipati_SAP SOB Consultant_TX.doc
C:\Resumes\Gurwinder Singh_Scrum Master_CA.doc
C:\Resumes\Hari Pyapali_Azure Architect_WA.doc
C:\Resumes\Jaimin Patel_QA Automation_NV.doc
C:\Resumes\Jandeep Janardhanan_SAP ABAP.docx
C:\Resumes\Jayagowrisankar_profile.docx
C:\Resumes\Jeff Foster_Technical Writer_CA.doc
C:\Resumes\Kachong Duniya_Scrum Master_CA.doc
C:\Resumes\Kalyan Chakravarthy Manda_SAP FICO Analyst_MO.doc

In [14]:
cvs

,name,text
0,Abhishek Gandhi_Technical Business Analyst_CA.doc,"Abhishek Gandhi\nSacramento, CA\n316-734-7049\..."
1,Abishek Gopal_React JS Developer_WI.doc,Abishek Gopal\nMadison WI\n408 753 7832\nreach...
2,Adam Altieri_Business Analyst_AZ.doc,"Adam Altieri\nPhoenix, AZ\n303-578-5319\nAdama..."
3,Ahmad Qasem - PM.docx,"Ahmad Qasem\nChicago, IL\n312-723-2889\nahmad...."
4,Ahmad Qasem_Project Manager_IL.doc,"Ahmad Qasem\nChicago, IL\n312-723-2889\nahmad...."
5,Alexander Abalakov_Azure Architect_CANADA.doc,"Alexander Abalakov\nVancouver, CA\n(778) 829-8..."
6,Amit Misra.doc,Amit Misra\n(SAP S4 HANA Certified SD CONSULTA...
7,Andrew Dolopo_Virtualization Engineer _CA.doc,"Andrew Dolopo\nMission Viejo, CA\n(949) 547-48..."
8,Apurva Keshoju_React JS Developer_MD.doc,"Apurva Keshoju\nBaltimore, MD\n410-302-8366\na..."
9,Arti K -Sr. Recruiter.docx,Arti Khanuja\nartikhanuja@outlook.com 425-246-...
10,Arulnathan Savarimuthu_Infrastructure Architec...,"Arulnathan Savarimuthu\nMarysville, OH\n850-98..."
11,avinashkumarsingh_profile.docx,AVINASH SINGH ...
12,Beverly Arukwe_Scrum Master_CA.doc,"Beverly Arukwe\nLos Angeles, CA\n408.209.5766\..."
13,Charanjit Singh Channi_Oracle Financial Functi...,"Charanjit Singh Channi\nMinneapolis, MN\n612 4..."
14,Chiranjeevi Gajjeli_Azure Arcchitect_GA.doc,"Chiranjeevi Gajjeli\nAtlanta, GA\n971-226-3863..."
15,Dave Svab - CSEO profile.pdf,Dave\tSvab\t\n/\nIndependent\tComputer\tContra...
16,Dean L. Carrera_Infrastructure Architect_GA.doc,"Dean L. Carrera\nAtlanta, GA\n678-640-0254\nde..."
17,Deepak Jasapara_Oracle Financial Functional_CA...,"Deepak Jasapara\nSan Jose, CA\n408-544-0570\nd..."
18,FARAZ KHAN CV.docx,F a r a z K h a n \n\nfarazkhan.sap@gmail.c...
19,Gary Rogensues_Infrastructure Engineer_MI.doc,"Gary Rogensues\nCommerce Township, MI\n248-953..."
20,Gopala-Updated.docx.docx,Gopala Jaini\n\nContact #\nAlternative cont...
21,Gowtham Nandipati_SAP SOB Consultant_TX.doc,"Gowtham Nandipati\nPlano, TX\n949-264-2936\nng..."
22,Gurwinder Singh_Scrum Master_CA.doc,"Gurwinder Singh (CSM, PSM)\nSan Jose, CA\n408-..."
23,Hari Pyapali_Azure Architect_WA.doc,"Hari Pyapali\nKirkland, WA\n425-208-6295\nhpya..."
24,Jaimin Patel_QA Automation_NV.doc,"Jaimin Patel, CSM®, SPOC®\nLas Vegas, NV\n908-..."
25,Jandeep Janardhanan_SAP ABAP.docx,\n\nJANDEEP JANARDHANAN\n\nSAP Consultant seek...
26,Jayagowrisankar_profile.docx,J Gowrisankar ...
27,Jeff Foster_Technical Writer_CA.doc,"Jeff Foster\nSanta Ana, CA\n(714) 313-3439\nje..."
28,Kachong Duniya_Scrum Master_CA.doc,"Kachong Duniya\nGlendale, CA\n(469)-268-7197\n..."
29,Kalyan Chakravarthy Manda_SAP FICO Analyst_MO.doc,"Kalyan Chakravarthy Manda\nSt Louis, MO\n636-2..."

In [15]:
cvs_category = pd.read_csv("C:\CVs.csv")

In [16]:
df = pd.concat([cvs,cvs_category], join = "inner", axis = 1)

In [17]:
df.head()

,name,text,name,Cloud Arch,BA,Developer,Manager,Consultant
0,Abhishek Gandhi_Technical Business Analyst_CA.doc,"Abhishek Gandhi\nSacramento, CA\n316-734-7049\...",Abhishek Gandhi_Technical Business Analyst_CA.doc,0,1,0,0,1
1,Abishek Gopal_React JS Developer_WI.doc,Abishek Gopal\nMadison WI\n408 753 7832\nreach...,Abishek Gopal_React JS Developer_WI.doc,0,0,1,0,0
2,Adam Altieri_Business Analyst_AZ.doc,"Adam Altieri\nPhoenix, AZ\n303-578-5319\nAdama...",Adam Altieri_Business Analyst_AZ.doc,0,1,0,0,1
3,Ahmad Qasem - PM.docx,"Ahmad Qasem\nChicago, IL\n312-723-2889\nahmad....",Ahmad Qasem - PM.docx,0,0,0,1,0
4,Ahmad Qasem_Project Manager_IL.doc,"Ahmad Qasem\nChicago, IL\n312-723-2889\nahmad....",Ahmad Qasem_Project Manager_IL.doc,0,0,0,1,0

In [18]:
df = df.drop(["name"], axis = 1)

In [19]:
df

,text,Cloud Arch,BA,Developer,Manager,Consultant
0,"Abhishek Gandhi\nSacramento, CA\n316-734-7049\...",0,1,0,0,1
1,Abishek Gopal\nMadison WI\n408 753 7832\nreach...,0,0,1,0,0
2,"Adam Altieri\nPhoenix, AZ\n303-578-5319\nAdama...",0,1,0,0,1
3,"Ahmad Qasem\nChicago, IL\n312-723-2889\nahmad....",0,0,0,1,0
4,"Ahmad Qasem\nChicago, IL\n312-723-2889\nahmad....",0,0,0,1,0
5,"Alexander Abalakov\nVancouver, CA\n(778) 829-8...",1,0,0,0,0
6,Amit Misra\n(SAP S4 HANA Certified SD CONSULTA...,0,0,0,0,1
7,"Andrew Dolopo\nMission Viejo, CA\n(949) 547-48...",0,0,1,0,0
8,"Apurva Keshoju\nBaltimore, MD\n410-302-8366\na...",0,0,1,0,0
9,Arti Khanuja\nartikhanuja@outlook.com 425-246-...,0,0,0,0,0
10,"Arulnathan Savarimuthu\nMarysville, OH\n850-98...",1,0,0,0,0
11,AVINASH SINGH ...,0,0,0,0,1
12,"Beverly Arukwe\nLos Angeles, CA\n408.209.5766\...",0,0,0,1,0
13,"Charanjit Singh Channi\nMinneapolis, MN\n612 4...",0,0,0,0,1
14,"Chiranjeevi Gajjeli\nAtlanta, GA\n971-226-3863...",1,0,0,0,0
15,Dave\tSvab\t\n/\nIndependent\tComputer\tContra...,0,0,1,1,0
16,"Dean L. Carrera\nAtlanta, GA\n678-640-0254\nde...",1,0,0,0,0
17,"Deepak Jasapara\nSan Jose, CA\n408-544-0570\nd...",0,0,0,0,1
18,F a r a z K h a n \n\nfarazkhan.sap@gmail.c...,0,1,0,0,1
19,"Gary Rogensues\nCommerce Township, MI\n248-953...",0,0,1,0,0
20,Gopala Jaini\n\nContact #\nAlternative cont...,1,0,0,1,0
21,"Gowtham Nandipati\nPlano, TX\n949-264-2936\nng...",0,1,0,0,0
22,"Gurwinder Singh (CSM, PSM)\nSan Jose, CA\n408-...",0,0,0,1,0
23,"Hari Pyapali\nKirkland, WA\n425-208-6295\nhpya...",1,0,0,0,0
24,"Jaimin Patel, CSM®, SPOC®\nLas Vegas, NV\n908-...",0,0,1,0,0
25,\n\nJANDEEP JANARDHANAN\n\nSAP Consultant seek...,0,1,0,0,1
26,J Gowrisankar ...,0,1,0,0,1
27,"Jeff Foster\nSanta Ana, CA\n(714) 313-3439\nje...",0,0,1,0,0
28,"Kachong Duniya\nGlendale, CA\n(469)-268-7197\n...",0,0,0,1,0
29,"Kalyan Chakravarthy Manda\nSt Louis, MO\n636-2...",0,1,0,0,1

In [20]:
max_features = 10000
MAX_LENGTH = 1000
embedding_size = 200

def update_headline(headline):
    headline_new = headline.lower()
    headline_new = re.sub('[^a-zA-z0-9\s]','',headline_new)
    headline_new = headline_new.replace('rt',' ')
    return headline_new

df["text"] = df["text"].apply(update_headline)
df.head()

,text,Cloud Arch,BA,Developer,Manager,Consultant
0,abhishek gandhi\nsacramento ca\n3167347049\nof...,0,1,0,0,1
1,abishek gopal\nmadison wi\n408 753 7832\nreach...,0,0,1,0,0
2,adam altieri\nphoenix az\n3035785319\nadamalta...,0,1,0,0,1
3,ahmad qasem\nchicago il\n3127232889\nahmadelsh...,0,0,0,1,0
4,ahmad qasem\nchicago il\n3127232889\nahmadelsh...,0,0,0,1,0

In [21]:
x = df["text"]

In [22]:
vocabSize = max_features
tokenizer = Tokenizer(num_words=vocabSize, split=' ')
tokenizer.fit_on_texts(x)
x = tokenizer.texts_to_sequences(x)
x = pad_sequences(x,MAX_LENGTH)

In [23]:
x

array([[   3, 2704, 3745, ...,    1,   10,  633],
       [3874, 3875,  324, ...,  814,    1,  345],
       [ 101,  692,  487, ...,    6,  116,  457],
       ...,
       [   0,    0,    0, ..., 1998,   18,   43],
       [   0,    0,    0, ...,    1, 1130,  734],
       [  26,  358,   11, ..., 1748,    9,  254]])

In [24]:
y = df["Consultant"]

In [25]:
y = np.array(y)

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [27]:
y_train

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1], dtype=int64)

In [28]:
y_test

array([0, 0, 0, 0, 1, 0], dtype=int64)

In [29]:
#### Add your code here ####
VOCAB_SIZE = 10000
MAX_LENGTH = 1000

model = Sequential() #creating sequential model
model.add(Embedding(input_dim = VOCAB_SIZE, output_dim = 300, input_length = MAX_LENGTH)) #adding embedding layer
model.add(SpatialDropout1D(0.4)) #added for robustness
model.add(LSTM(units = 300, return_sequences = True, recurrent_dropout = 0.1,)) #adding LSTM layer
#model.add(TimeDistributed(Dense(100, activation = "relu"))) # timedistributed layer
model.add(Flatten())# Flatten 
model.add(Dense(1,activation="sigmoid")) #Dense layer

In [30]:
#### Add your code here ####
model.compile(optimizer= "adam", loss ="binary_crossentropy",metrics =["accuracy"])

In [31]:
class_weights = {0: 2,
                1: 3}

In [32]:
fitted_model = model.fit(x_train, y_train, batch_size = 64, epochs=5, verbose=1, class_weight = class_weights)

Train on 24 samples
Epoch 1/5
24/24 [==============================] - 12s 514ms/sample - loss: 1.6428 - accuracy: 0.5000
Epoch 2/5
24/24 [==============================] - 8s 343ms/sample - loss: 1.1754 - accuracy: 0.9583
Epoch 3/5
24/24 [==============================] - 11s 459ms/sample - loss: 0.8302 - accuracy: 1.0000
Epoch 4/5
24/24 [==============================] - 10s 414ms/sample - loss: 0.5839 - accuracy: 1.0000
Epoch 5/5
24/24 [==============================] - 10s 426ms/sample - loss: 0.3149 - accuracy: 1.0000

In [33]:
score,acc = model.evaluate(x_test, y_test,verbose = 1)

6/1 [====================================================================================================================================================================================] - 1s 198ms/sample - loss: 0.4129 - accuracy: 1.0000

In [34]:
y_pred = model.predict(x_test)

In [35]:
from sklearn.preprocessing import binarize
y_pred_new = binarize(y_pred, 0.5)

In [36]:
y_pred_new = [item for sublist in y_pred_new for item in sublist]

In [37]:
print(classification_report(y_test,y_pred_new))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         1

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

In [38]:
consultant_dict = dict({1:"Consultant",0:"Not Consultant"})
SAMPLE_INDEX = 1
p = model.predict(np.array([x_test[SAMPLE_INDEX]]))
if p > 0.5:
    print("Consultant")
else:
    print("Not Consultant")

print(consultant_dict.get(y_test[SAMPLE_INDEX]))
print(x_test[SAMPLE_INDEX])

Not Consultant
Not Consultant
[  58 1683  143    1 1037 1996   10 1468  231  138   10  130   64  160
 2116   81   30 5153 1469 1038 1685  472 5154 5155    1  575  294  575
  248 5156  120  116   96 2451 2381  695  120  165 5157 5158    1  305
   78  804  537 2745  666  252 1911 5159  409  850   84  128 1620 3258
 1541  435  151   38   27   45 3121 2976   69 5160  609 1015 3259   10
 1468 1071   11  859 5161   57 5162    7   15 5163    4   10  126   18
   66   11  389 1667   60  198  126 2824 2223  654    1 5164   10 1468
 1055 5165  116  954    1  782   11 1068   11 1686    1   50   45 5166
  389  120  165  120  358 1997   18  853 1998   18   43   81  157  456
  408   10   28  130  408 5167 5168 3258 3260   88  946   34  293 1236
   34   60   59 1848 3169   81  131  253 1531   32    1 5169 1687 1105
 1807   31    1 1678  149 1014    1 1047 1678   17  115    9   14  119
  295 1381    9   14  124 2952  145  580  234  310    1  531    3 1080
    9  607    8  234  256  381  145    2  298  150 3150  753 3261  160
    3  505    1 3262  516    1   55  872    2  408  107    9 2395  166
    3 5170 1891  588    6  753   23  486 3263 1319    1 1388  556 3264
 5171  820 5172 5173    1 3265 1567  107   58    6  166    3 1451  647
 1159    1 5174  328  160  143    1  473   10  418 1100 1210    1  817
    7   58    1 2452  145  894  415  281   18   66  166    3 5175 5176
 5177    3 2933 2453 5178    8 1470  994 1999   88   64  248 2294 1470
   57   88 5179  449 3266 5180 2453 5181    8 1470  994 1999  575  127
   64  301  222 1470   57 5182 5183 5184  707 3266 5185   19 1148  260
  240 5186  185   92 2000    3 2454  266  620  280  504  232 5187 2001
  136   21    4  617 1836 5188 5189 2455 1688    5 2456 2001 2400    6
  240 3267    8   15 5190   73  522  376 1469  693  382  142  985  134
 2457 3259    5    2 2444  175   99 3268    3 2117 2001   11    5   38
   27  116    1 2443  240 3269 1885 2458 2459 5191 5192 2706    1  524
 5193 2458 2459    3   48 1962 2460   67 1885 5194 5195 5196 3270  772
    6 1788 5197 1112 1774  240 3269    1 3267   57 2454  376 1469  693
  382  142  985   48  507   75 5198    2 2458    1  524  732  376  120
  358 1038  693    3  728  126   11    1 5199  732 3271 5200    1  964
 1752    6  594   60 5201   21 3270 3272    6 2193 3273 2461   26  134
  772   37  651  125    8  964  183 3274    1 5202 3275 1688    5  263
 3168    5 5203    6 2302  275 2461   26  134  512  376  120  358 1038
  693    7  120  165  253   10 1468  425  115 3276 2000    3   88 1412
  447 1133  280  175   46   15  425   18   66  106    4    2  415  155
   14 3277   21    9 1688    5   15  752 5204    5 1772    6 3277  159
   88  972    1 5205 5206 5207    6  147  758  586   81 3278 5208  100
  159 5209 1034    1 5210 5211  155 5212 5213 5214    6   11  175   39
  116 5215  969 3268    1   44 2451 1250    3 3279 1686  376  138  425
 1513    7 1469    5 1996  559    3  134   11 1068  376  134  120  358
 1038   18   43    1  782   18   66   45   18   43    4 1132  425   18
   66   31  115   63 2462  145   88 1039    1 1223  828 1133  449 1412
  447  175   46   48 5216   10 1468    1  141   29 2193 5217    9  938
 2463   60    6  938    6 2303  250 3280    9  144 1572 5218   54    7
 3281 1280   40   54  604 5219 1747   26  276   81 2002    9  938  166
  152 1577    6 2715  159  702  222    5  438 1034 1325   83   68   99
  376 1469   11  220  700  142 1787    2   10 1185    1 5220   11   26
  494 5221  116 5222 1686  376  120  358 1038 1331   75 1553  938   60
   18   43 5223    8  557    9  376  134 2451 1250    3 3279   11 1686
    1 3282  302 1139   60   21    4  141  593 1689 2940  733  593   57
 2464  972   57 2430  141 1139    1  375  159 3177 2986  733  736  376
 1469   11  220  700  142 1553 1170 1139   60    1  611  879   12 1517
 5224 2407 5225  263 5226   12  171   11   26  565  116   11 1686  376
  120  358 1038 1331   75   18   43 1139  226 1826 2755  727    1 5227
  732 3271 2003   63 2462  145   88 5228 5229  287  587 1133  449 2465
  143    1 1037   10   64    3   88  127  182  159  134 1009    5 5230
 1034 5231 1055  310   26   88  702   45 3280 1315  448   88   37  651
  127  123 2462  145 2339 1915 2457 1106 1213 1875  587 3283   37    6
    2   23   75   44    2   98    1   29 2446    5    2 2287    6 1106
 5232  907 5233  445  173  325  228   70    4   83  131 3254 1059 2000
 5234    3   48  186 5235 2466 5236 2000    3 1506  186  196   46 2243
  143    1 1037   48  138   10   64 1771    5    2  132   45    1 5237
 5238 1009  527  442  299 2467   31  119 1406 5239 5240   31  992 1106
 1213 5241  276 1901   68 3281 5242    3  152 1415 1383 5243    5    2
  466  499  660    1 5244 1114 3284  327 2468  317    9   14  124 1381
 5245 3285 1106 1213 2210 3286 1875   20  708  119  295  488   94   20
 5246 1106 1213  915   88  119  295   65 3260   88 1219  587   88  119
  295   81  440 5247   88 1219  587 5248 1874 3287 2392   88 1219  360
 2469 1394  603 1168    8  644 1510 5249 3288 5250 2454  266 5251 5252
  364   63   88  391    6    2 3288 5253 5254  371 3128   88   10  126
   60    1   18   66  527  565]

In [39]:
import math

In [45]:
math.degrees(math.atan2(-1,0))

-90.0