In [1]:
import xlrd
import numpy as np
import pandas as pd

dfExcel = pd.read_excel ("C://MLData/exampleoutput.xlsx", sheet_name = "SheetOutput")
from sqlalchemy import create_engine
engine = create_engine ("sqlite://")

dfExcel.to_sql("table1", engine, index = False, if_exists = 'replace', index_label = 'index')

dfExcelfromtable = pd.read_sql("table1", engine)
dfExcelfromtable

   index  a    b  c  d
0      0  1  444  x  1
1      1  2  555  y  3
2      2  3  666  x  5
3      3  4  444  y  4